@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(240, 227, 227, 0.3);
}
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul li a {
  color: #000;
}

ul li a:hover {
  color: #00a8ff;
}

ul li a.active {
  color: #00a8ff;
}

.container-fluid {
  display: flex;
  background-color: DodgerBlue;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  height: 10vh;
  margin-top: 1rem;
}

.search {
  display: flex;
  margin-top: 20px;
  margin-left: 1rem;
}
.navbar-left .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.navbar-center .nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-center .nav-links li {
  margin-right: 1rem;
}

.navbar-center .nav-links a {
  color: #fff;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right .cart-icon,
.navbar-right .user-icon {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
  position: relative;
}

.navbar-right .cart-count {
  background-color: #f44336;
  color: #fff;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
}

.product-image {
  max-height: 50%;
  min-width: 50%;
  object-fit: fill;
  vertical-align: bottom;
}
.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem auto;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
  row-gap: 2px;
}

.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: -5px -5px 10px rgba(8, 8, 8, 0.5),
    2px 2px 5px rgba(25, 25, 26, 0.3);
}
.card-body {
  cursor: pointer;
}

.imageSection {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pdetails_add_to_cart .btn {
  float: right;
  margin-top: 1rem;
  justify-content: space-around;
  margin-right: 1rem;
}

#productHeading {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card:hover {
  background-color: rgba(7, 7, 7, 0.3);
  font-size: 15px;
}

.card:active {
  transform: translateY(2px);
}
